<% content_for :navbar_contents do %>
	<ul class="nav-left">
	  <li><%= link_to icon('arrow-left'), session[:last_page] %></span></li>
	</ul>
	<ul class="nav-center">
	  <li><span><%= other_user(@chat).name %></span></li>
	</ul>
<% end %>

<% content_for :footer_contents do %>
	<ul>
	  <li>
	  	<div class="msg-input">
	  	<%= form_for [@chat, @message], remote: true do |f| %>
	  		<%= f.hidden_field :user_id, value: current_user.id %>
      		<%= f.text_field :text, class: "form-control", placeholder: "Write your message...", autofocus: true %>
        	<%= f.submit "Send", class: "realtalk-btn btn btn-primary" %>
    	<% end %>
    	</div>
	  </li>
	</ul>
<% end %>

<div id="messages" class = "chat-window" data-chat-id = <%= @chat.id %>>
	<% @messages.each do |msg| %>
		<%= render partial: 'message', locals: {msg: msg} %>
	<% end %>
<div>