<ul>
  <li><a href=<%= contacts_path %>><%= icon('user') %></a></li>
  <li>
    <a class="msg-icon" href=<%= chats_path %>>
      <%= icon('comment') %>
      <div class="notification">
        9
      </div>
    </a>
  </li>
  <li><a href=<%= profile_path %>><%= icon('cog') %></a></li>
</ul>