<ul>
  <li><a href=<%= contacts_path %>><%= icon('user') %></a></li>
  <li>
    <a class="msg-icon" href=<%= chats_path %>>
      <%= icon('comment') %>
      <div id="notification-container">
      <% if current_user.notifications.any? %>
          <div class="notification">
            <%= current_user.notifications.count %>
          </div>
      <% end %>
      </div>
    </a>
  </li>
  <li><a href=<%= profile_path %>><%= icon('cog') %></a></li>
</ul>