<% content_for :navbar_contents do %>
	<ul class="nav-center">
	  <li><%= icon('comment') %></span>&nbsp;<span>Chats</span></li>
	</ul>
<% end %>

<% content_for :footer_contents do %>
	<%= render '/shared/standard_footer' %>
<% end %>

<div class = "chat-list">
	<% @chats.each do |chat| %>
		<%= link_to chat_messages_path(chat.id), class: "chat" do %>
			<div class= "user-thumbnail">
				<%= image_tag "profile1.jpg" %>	
			</div>
			<div class= "last-msg">
				<h4><%= other_user(chat).name %></h4>
				<p class="truncate">
					<%= icon("reply") if current_user.id == chat.messages.last.user_id %>
					<%= chat.messages.last.text %>
				</p>
			</div>
			<div class= "date">
				<p><%= chat.messages.last.created_at.strftime("%b %d") %></p>
				<p><%= chat.messages.last.created_at.strftime("%l:%M%p") %></p>
			</div>
		<% end %>
		<hr>
	<% end %>
<div>
