<!DOCTYPE html>
<html>
  <head>
    <title>Realtalk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="nav-mobile">
      <div class="container-fluid">
        <%= yield :navbar_contents %>
      </div>
    </nav>

  	<div class="container">
  		<% flash.each do |key, value| %>
    		<div class="alert alert-<%= key %>">
      			<%= value %>
    		</div>
  		<% end %>
	</div>

	<div class="container-fluid main-content">
	  <%= yield %>
	</div>

  <footer class="footer-mobile">
    <div class="container-fluid">
      <%= yield :footer_contents %>
    </div>
  </footer>

  </body>
</html>
