<!DOCTYPE html>
<html>
  <head>
    <title>Realtalk</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div class="container">
  		<% flash.each do |key, value| %>
    		<div class="alert alert-<%= key %>">
      			<%= value %>
    		</div>
  		<% end %>
	</div>


	<div class="container">
    <div class="circle-container">
      <div class= "internal-square style-4">
      <%= image_tag "realtalk.png", class: "medium-logo"%>
      <%= yield %>
      </div>
    </div>
    <%= image_tag "town.png", class: "footer-img"%>
  </div>

  </body>
</html>
